.btn {
    padding: 0.5rem 2rem;
    background: white;
    border: 1px solid var(--silver);
    border-radius: var(--radius);

    &.blaze {
        color: white;
        background: var(--orange);
        border-color: var(--orange);
    }
}
