@mixin form-styles {
    display: block;
    width: 100%;
    padding: 0.5rem;
    color: var(--form-color);
    background-color: var(--form-background);
    border: 1px solid var(--form-border);
    border-radius: var(--radius);
    outline: none;
    transition: all 240ms;

    &:focus {
        border-color: var(--queen-blue);
        box-shadow: 0 0 4px var(--queen-blue-transparent);
    }
}

input[type=text],
textarea {
    @include form-styles;
}

textarea {
    min-height: 5rem;
}
