//$blaze: hsla(24, 100%, 50%, 1);
//$beige: hsla(0, 0%, 92%, 1);
//$silver: hsla(0, 0%, 75%, 1);
//$queen-blue: hsla(211, 48%, 44%, 1);
//$blue: hsla(209, 100%, 30%, 1);

:root {
    --heading-font: 'Alegreya', serif;
    --heading-font-weight: 500;
    --body-font: 'Open Sans', sans-serif;
    --body-font-weight-normal: 400;
    --body-font-weight-bold: 600;
    --monospace-font: 'Inconsolata', monospace;
    --monospace-font-weight: 400;

    --blaze: hsl(24, 100%, 50%);
    --beige: hsl(0, 0%, 92%);
    --silver: hsl(0, 0%, 75%);
    --queen-blue: hsl(211, 48%, 44%);
    --queen-blue-pale: hsl(211, 48%, 90%);
    --blue: hsl(209, 100%, 30%);

    --grey: hsl(0, 0%, 50%);
    --grey-dark: hsl(0, 0%, 25%);
    --grey-light: hsl(0, 0%, 75%);

    --radius: 3px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
